.shadow-box {
    background-color: rgba(0, 0, 0, 0.66);
    border-radius: 65px 65px 65px 65px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1.4);
}

.shadow-box__white {
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 65px 65px 65px 65px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1.4);
    padding: 20px 14px 0px 26px;;
}

h1.m-weight-600 {
    font-weight: 600;
}

.m-cursive {
    font-family: cursive;
}

.m-dark-blue {
    color: rgb(9 80 116);
}

.m-lowered-padding {
    padding-bottom: 4px;
    padding-top: 4px;
}

.m-title-section__padding {
    padding-bottom: 10px;
}

.m-increased-padding {
    padding: 24px 15px 24px 15px;
}

.m-flex-box {
    display: flex;
}

.m-fit-content {
    width: fit-content;
}

.stroke-shadow__box-padding {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 28px;
    padding-right: 28px;
}